body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* This makes the body take up the full viewport height */
    margin: 0;
    /* Removes default margin */
}


h1 {
    text-align: center;
}