{% extends 'base.html' %} {% block content %}

<a href="{% url 'new_task' %}" title="create new task" class="top-menu">
  {% include 'icons/plus-svgrepo-com.svg' %}
</a>
<p class="create-instruction">Create new task</p>
<h3>In progress</h3>
<div class="in-progress-container">
  <ul class="title-list">
    {% for task in in_progress %}
    <li>{{ task.title }}</li>

    {% empty %}
    <li>There are currently no tasks in progress</li>
    {% endfor %}
  </ul>
  <ul class="title-list">
    {% for task in in_progress %}
    <li class="icon1">
      <a href="{% url 'task_action' task.pk %}?action=update_done">
        {% include 'icons/done-mini-1484-svgrepo-com.svg' %}
      </a>
    </li>
    {% endfor %}
  </ul>
  <ul class="title-list">
    {% for task in in_progress %}
    <li class="icon2">
      <a href="{% url 'task_view' task.pk %}">
        {% include 'icons/lens-svgrepo-com.svg' %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<h3>To do</h3>
<div class="in-progress-container">
  <ul class="title-list">
    {% for task in to_do %}
    <li>{{ task.title }}</li>

    {% empty %}
    <li>There are currently no tasks in to do</li>
    {% endfor %}
  </ul>
  <ul class="title-list">
    {% for task in to_do %}
    <li class="icon1">
      <a href="{% url 'task_action' task.pk %}?action=update_in_progress">
        {% include 'icons/play-svgrepo-com.svg' %}
      </a>
    </li>
    {% endfor %}
  </ul>
  <ul class="title-list">
    {% for task in to_do %}
    <li class="icon2">
      <a href="{% url 'task_view' task.pk %}">
        {% include 'icons/lens-svgrepo-com.svg' %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<h3>Done</h3>
<div class="in-progress-container">
  <ul class="title-list">
    {% for task in done %}
    <li>{{ task.title }}</li>

    {% empty %}
    <li>There are currently no tasks in done</li>
    {% endfor %}
  </ul>
  <ul class="title-list">
    {% for task in done %}
    <li class="icon2">
      <a href="{% url 'task_view' task.pk %}">
        {% include 'icons/lens-svgrepo-com.svg' %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}