{% extends 'base.html' %} {% block content %}

<h2>{{ task.title }}</h2>
<p>Author: {{ task.author }}</p>
<p>Deadline: {{ task.deadline }}</p>
<p>Description: {{ task.description }}</p>
<p>Created: {{ task.created }}</p>

<a href="{% url 'task_edit' pk=task.pk %}">
  {% include 'icons/pencil-fill.svg' %}
</a>

<a href="{% url 'task_remove' pk=task.pk %}">
  {% include 'icons/trash-svgrepo-com.svg' %}
</a>

<a href="{% url 'home_view' pk=task.pk %}">
  {% include 'icons/back-svgrepo-com.svg' %}
</a>

{% endblock %}